@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lobster', cursive;

}
.bg {
  padding-top: 1px;
  height: 100vh;
  background: url('bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  text-align: center;
  margin-top: 2rem;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 1px;
  word-spacing: 1px;
}
.disply {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0;
}
.hide {
  display: none;
}
.container {
  display: grid;
  margin: 2rem auto;
  max-width: 300px;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;

}
.tile {
  border: 2px solid #072853;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

.player {
  color: black;
}
.playerX {
  color: blue;
}
.player0 {
  color: black;
}
.ply_again {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

}
.ply_again button {
  padding: 3px 20px;
  outline: none;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;

}
.winner {
  color: green;
}
#reset {
  background-color: #FF3860;
  font-family: 'Baloo Paaji 2', cursive;
  color: #fff;
}

@media screen and (min-width: 700px) {
  .title{
    font-size: 5rem;
    margin: 3rem 0;
  }
  .container {
    max-width: 90%;
    height: 50%;
    margin: 6rem auto;
  }
  .tile{
    font-size: 8rem;
    border: 4px solid #072853;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  .disply{
    font-size: 4rem;
  }
  .winner{
    font-size: 4.5rem;
  }
  .ply_again button{
    padding: 5px 50px;
    font-size: 4.5rem;
    margin-top: 3rem;
    
  }
}